<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Imagen</title>

	<style type="text/css">

@font-face{
          font-family:'dar';
          src:url('/fuentes/GnarlyBoneBlack_PERSONAL_USE_ONLY.otf');
        }
		body{
	background-image:url('https://images.unsplash.com/photo-1598522017610-edbea54edd64?auto=format&fit=crop&q=80&w=1036&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-size:cover;
	background-attachment: fixed;
    }
    form{
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
    	margin:80px auto;
    	width:40%;
    	border:1px solid black;
    }
    input{
    	padding:10px;
    	margin:10px;
    }
    label{
    	font:30px 'dar' ;
    	font-weight: bold;
    	color:white;
    }
   h1{
   	font:40px 'dar' ;
   	text-align: center;
   	line-height: 50px;
   	color:white;
   }
   #destacado{
   	width:20%;
   	border-radius:10px 10px 10px 10px;
   }
  #divDestacado{
  	border:1px solid black;
  	width:70%;
  	margin:50px auto;
  	background:rgba(108, 114, 114,.7);
  }
  #botones{
	display:flex;
	justify-content: flex-end;
	align-items: center;
	 border:1px solid white;
	 background:rgba(0,0,0,.7);
	 border-top:none;
	 border-left:none;
	 border-right:none;
}
  #botones a{
	border-radius:15px 10px 20px 10px;
	font:30px 'dar';
	padding:20px;
	text-decoration: none;
	color:white;
	transition: all 1s;
}
#botones a:hover{
transform: translateY(-10px);
}

	</style>


</head>
<body>

<div id='botones'>
	<a href='/productos'>Volver</a>
</div>

<h1>Agregar Imagen</h1>

<div id='divDestacado'>
	
<form action="/addImagen/<%=modelo.producto_id%>" method="post" enctype="multipart/form-data">
	
	<label for='imagen'>Imagen</label>
	
	<input type="file" name="img" id="img" placeholder="Imagen">
  
	<label for="destacado">Destacado</label>
	<select id='destacado' name='destacado'>
  	<option value='1'>principal</option>
  	<option value='0'>No principal</option>
  </select>

	<input type="submit" value="add" id="destacado">
</form>
</div>

</body>
</html>