<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta charset="iso-8559-1"/>
    <meta name= "description" content="pagina de enseñanza"/>
    <meta name="keywords" content="html5,javascript,diseño web"/>
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/update.css">
    <link rel="stylesheet" href="/css/footer.css">
   <title>Update</title>
</head>
<body>
  <section>
		<div class="form-box">
			<div class="form-value">
				<form id="login_form" class="login_form" action="/addUser" method="post">
					<h2>Agregar Usuario</h2>
					<div class="inputbox">
						<input type="text" name="nombre" autofocus required autocomplete="true">
						<label for="nombre">Nombre</label>
					</div>

					<div class="inputbox">
						<input type="text" name="apellido" required autocomplete="true">
						<label for="apellido">Apellido</label>
					</div>

          <div class="inputbox">
						<input type="text" name="cedula" required autocomplete="true">
						<label for="cedula">Cedula</label>
					</div>

          <div class="inputbox">
						<input type="text" name="correo" required autocomplete="true">
						<label for="correo">Correo</label>
					</div>
          
          <div class="inputbox">
						<input type="text" name="password" required autocomplete="true">
						<label for="password">Password</label>
					</div>

					<input type="submit" value="agregar" id="update">
          <a href="/productos" class="boton">Volver</a>
				</form>
			</div>
		</div>
	</section>
<%- include('footer') -%>
</body>
</html>
