<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <title>categoriass</title>
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" type="text/css" href="/css/products.css">
  
</head>
<body>
  <header class="header-content">
    <nav class="navbar">
      <h1 class="namepage">Namepage</h1>
      <div class="links-box">
        <a href="/">Inicio</a>
        <a href="/productos">Productos</a>
        <a href="/categorias">Categorias</a>
      </div>
    </nav>
  </header>
  
  <div class="table">
    <table>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th><a href="/addCategorias"><img src="/img/add.png" id='add'></a></th>
          </tr>
          <%for(const categorias of modelo){%>
            <tr>
              <td><%=categorias.id%></td>
              <td><%=categorias.nombre%></td>
              <td class="icon">

              <a href="/updateCategoria/<%=categorias.id%>"><img src="/img/update.png" width="30"></a>

             </td>
            </tr>
           <%}%>
        </table>
       
  </div>
</body>
</html>
