<section>
		<div class="form-box">
			<div class="form-value">
					<h2>Agregar Producto</h2>
					<div class="inputbox">
						<input type="text" name="nombre" autofocus required autocomplete="true">
						<label for="nombre">Nombre</label>
					</div>
					<div class="inputbox">
						<input type="number" name="codigo" required autocomplete="true">
						<label for="codigo">Codigo</label>
					</div>
                    <div class="inputbox">
						<input type="text" name="precio" required autocomplete="true">
						<label for="precio">Precio</label>
					</div>
                    <div class="inputbox">
						<input type="text" name="descripcion" required autocomplete="true">
						<label for="descripcion">Descripcion</label>
					</div>
                    <div class="inputbox">
						<input type="text" name="calidad" required autocomplete="true">
						<label for="calidad">Calidad</label>
					</div>
                    <div class="inputbox">
						<input type="text" name="cantidad" required autocomplete="true">
						<label for="cantidad">Cantidad</label>
					</div>
				</div>
			</div>
		</section>