<style type="text/css">
@font-face{
            font-family:'fuenteC';
            src:url(/fuentes/GhostlyforestDemo-GhostlyforestDemo.otf);
           }
	body{

		background-image:url('https://i.pinimg.com/originals/89/99/01/899901b81a4ebc3179a422e27805b7e1.jpg');
		background-attachment: fixed;
		background:cover;
	}
	h1{
	 font:50px 'fuenteC';
	 color:red;
	 margin-top:50px;
	 margin-bottom:5px;
	}
	h2{
	 font:50px 'fuenteC';
	 color:white;
	 margin-top:5px;
	 margin-left:45%;

	}
</style>
<body>

<h1 style='margin-left:10%;line-height:450px'>Lo sentimos Archivo o Ruta no encontrada</h1>
<h2>404</h2>

</body>
