<head>
  <meta charset="utf-8">
  <meta charset="iso-8559-1"/>
  <meta name= "description" content="Página para la venta de productos relacionados con la perdida de peso."/>
  <meta name="keywords" content="html5,javascript,diseño web, salud, perdida de peso, peso, salud, bienestar, ejercicio, vida saludable"/>
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <link rel="icon" href="img/favicon.png">
  <title>Bienvenido</title>
</head>

