
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta charset="iso-8559-1"/>
  <meta name= "description" content="Página para la venta de productos relacionados con la perdida de peso."/>
  <meta name="keywords" content="html5,javascript,diseño web, salud, perdida de peso, peso, salud, bienestar, ejercicio, vida saludable"/>
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="icon" href="https://www.flaticon.es/iconos-gratis/limpieza">
  <title>Inicio</title>
</head>
<body>
  
  <header class="header-content">
    <nav class="navbar">
      <h1 class="namepage">Namepage</h1>
      <div class="links-box">
        <a href="/">Inicio</a>
        <a href="/productos">Productos</a>
        <a href="/categorias">Categorias</a>
        <a href="/login" class="login">Administracion</a>
        <a href="/loginUsers" class="login">Login</a>
        <a href="/registroUsers" class="login">Register</a>
      </div>
    </nav>

    <section class="banner-info">
      <h2>Conoce nuestros productos</h2>
      <p>Lorem, ipsum dolor sit amet consectetur, adipisicing elit. Ducimus temporibus mollitia impedit possimus.</p>
      <a href="#" class="banner-button">Ir aqui</a>
    </section>
  </header>

  <main class="main-content">
    <section class="autor-info">
      <div class="autor-info-box">
        <h2>ArturoYanez</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, in earum aliquam quia, incidunt hic voluptatibus voluptas laudantium, error, sapiente illo nemo nobis explicabo! Ab repudiandae tenetur sint blanditiis, dignissimos.</p>
        <a href="#" class="banner-button">Ir aqui</a>
      </div>
      <div class="autor-image">
        <img src="/img/autorImage.jpg" alt="Vector de autor">
      </div>
    </section>

    <section class="products-info">
      <span class="products-info-content">
        <h2 class="products-info-title">Lo que hacemos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, esse.</p>
      </span>
    </section>

  </main>
<%- include('footer') -%>

</body>

</html>