<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta charset="iso-8559-1"/>
	<meta name= "description" content="Tienda online sobre los mejores productos de limpieza del mercado. Proyecto educativo para la Universidad Nacional Experimental Ròmulo Gallegos"/>
	<meta name="keywords" content="html5,javascript,diseño web"/>
	<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
	<link rel="icon" href="img/favicon.png">
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<link rel="stylesheet" href="/css/footer.css">
	<title>Login</title>
</head>
<body>
	<section>
		<div class="form-box">
			<div class="form-value">
				<form id="login_form" class="login_form" action="/login" method="post">
					<h2>Iniciar Sesión</h2>
					<div class="inputbox">
						<img src="img/person-outline.png" width="24" alt="Icon for password input">
						<input type="text" name="admin" id="admin" required autocomplete="true">
						<label for="admin">Admin</label>
					</div>
					<div class="inputbox">
						<img src="img/lock-closed-outline.png" width="24" alt="Icon for password input">
						<input type="text" name="password" id="password" required autocomplete="true">
						<label for="password">Password</label>
					</div>
					<input type="submit" name="enviar" value="Login" id="iniciar">
				</form>
			</div>
		</div>
	</section>
</body>
</html>



