<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta charset="iso-8559-1"/>
	<meta name= "description" content="Tienda online sobre los mejores productos de limpieza del mercado. Proyecto educativo para la Universidad Nacional Experimental Ròmulo Gallegos"/>
	<meta name="keywords" content="html5,javascript,diseño web"/>
	<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
	<title>Categorias</title>
	<link rel="stylesheet" type="text/css" href="/css/update.css">
	<link rel="stylesheet" href="/css/footer.css">
</head>
<body>
	
	<section>
		<div class="form-box">
			<div class="form-value">
				<form id="login_form" class="login_form" action="/updateCategoria/<%=modelo.id%>" method="post">
					<h2>Actualizar Categoria</h2>
					<div class="inputbox">
						<input type="text" name="nombre" autofocus required autocomplete="true" value="<%=modelo.nombre%>">
						<label for="nombre">Nombre</label>
					</div>
					<input type="submit" value="Agregar" id="update">
					<a href="/categorias" class="boton">Cancelar</a>
				</form>
			</div>
		</div>
	</section>

</body>
</html>

<h2></h2>