@font-face{
          font-family:'dar';
          src:url('/fuentes/Gamer.ttf');
        }
body{
	background-image:url('https://images.unsplash.com/photo-1563248870-e45d2e6df7ee?auto=format&fit=crop&q=80&w=1275&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-size:cover;
	background-attachment: fixed;
}
#login{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	background:rgb(0,0,0,.3);
	width:50%;
	height:auto;
	margin:100px auto;
	border-radius:10px 10px 10px 10px;
	border:1px solid black;
	transition:all 1s;
}
#login:hover{
	background:rgb(0,0,0,.7);
	border:1px solid grey;
}
label{
	font-weight: bold;
	font:2rem 'dar';
	color:white;
	margin-bottom:10px;
	margin-top:10px;
}
h1{
	margin-top:70px;
	text-align:center;
	font-weight: unset;
	color:white;
	font:3rem 'dar';
}
form{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input{
padding:8px;
text-align: center;
}
#iniciar{
	margin-top:10px;
	padding: 10px;
	border-radius:10px 10px 10px 10px;
    transition:all 1s;
    cursor:pointer;
}
#iniciar:hover{

transform:translateY(-10px);

}

#otroLogin{
	border:1px solid black;
	width:60%;
	margin:50px auto;
	background:rgba(0,0,0,.5);
	border-radius:15px 20px 15px 20px;
	transition:all 1s;
}
#otroLogin:hover{
	background:rgba(0,0,0,.9);
	border:1px solid grey;
	box-shadow:35px 30px 100px grey;	
}

