/* Global */
@font-face{
	font-family:'Raleway';
	src:url('/fonts/Raleway-VariableFont_wght.ttf');
}

*{
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

/* General */

section{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	background: url('/img/login-background.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

h2{
	font-size: 2em;
	color: #fff;
	text-align: center;
}

input[type="submit"]{
	width: 100%;
	height: 40px;
	border-radius: 40px;
	background-color: #00BCD4;
	color: #212121;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
}

.form-box{
	border-radius: 25px;
	position: relative;
	width: 400px;
	height: 450px;
	background: rgba(10, 10, 10, .4);
	border: 2px solid rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(15px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.inputbox{
	position: relative;
	margin: 30px 0;
	width: 310px;
	border-bottom: 2px solid #fff;
}
.inputbox label{
	position: absolute;
	top: 30px;
	left: 5px;
	transform: translateY(-50%);
	color: #fff;
	font: size: 1em;
	pointer.events: none;
	transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
	top: -5px;
}

.inputbox input{
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	padding: 0 35px 0 5px;
	color: #fff;
}
.inputbox img{
	position: absolute;
	right: 8px;
	color: #fff;
	font-size: 1.2rem;
	top: 20px;
}

.registerInvite{
	color: #ffffff;
	max-width: 250px;
	margin: 15px auto;
	text-align: center;
}

.registerInvite a{
	color: #88BCD4;
}

.hidden{
	display: none;
}


footer{
  background-color: #00BCD4;
  text-align: center;
}