@font-face{
	font-family:'Raleway';
	src:url('/fonts/Raleway-VariableFont_wght.ttf');
}

*, *:before, *:after{
	margin: 0;
	padding: 0;
}

body{
	font-family: Raleway, sans-serif;
	color: #fff;
}

h1{
	font-size: 2.5em;
}

.header-content{
	padding-top: 20px;
	width: 100%;
	min-height: 100vh;
	border-bottom-left-radius: 100%;%;
	background-image: url('/img/banner_2.jpg');
	background-size: cover;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 20px;
}

.links-box a,
.links-box a:visited{
	margin-right: 20px;
	color: #fff;
	text-decoration: none;
}

.namepage{
	color: rgba(151, 48, 184, 1.0);
}

.banner-info{
	width: 500px;
	height: auto;
	margin: 10% 0 0 45%;
	display: block;
	
}

.banner-info h2{
	font-size: 3em;
	font-weight: black;
	margin-bottom: 20px;
}

.banner-info p{
	color: #eee;
}

.banner-button,
.banner-button:visited{
	margin-top: 20px;
	display: inline-block;
	padding: 20px 50px;
	text-decoration: none;
	background-color: #9730B8;
	color: #fff;
}

/*User Zone*/

.autor-info{
	position: relative;
	color: #212121;
	display: flex;
	width: 100%;
	height: 500px;
	z-index: 1;
}

.autor-image img{
	width: 600px;
}

.autor-info-box{
	margin: auto 20px;
}

.autor-info-box h2{
	margin-bottom: 20px;
	font-size: 2.5em;
	font-weight: black;
}

.autor-info-box p{
	font-size: 1.2rem;
}

/*Product info*/

.products-info{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('/img/banner_3.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 50vh;
	z-index: 5;
}

.products-info-content{
	text-align: center;
}

.products-info-content p{
	font-size: 1.5rem;
	color: #5B3EB4;
}


.products-info-title{
	color: #9730B8;
	font-size: 2.5rem;
	font-weight: black;
	margin: auto auto;
}