@font-face{
	font-family:'Gamer';
	src:url('/fuentes/Gamer.ttf');
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}
h1{
 margin-top:30px;
 text-align:center;
 line-height:100px;
 font-weight:bold;
 color:white;
 font:50px 'Gamer';
}
body{
	background-image:url('/img/cc.jpg');
	background-size:cover;
    background-attachment:fixed;
	width:100%;
	height:100vh;
}
#footer{
	color:blue;
	text-align: center;
	color:white;
}
footer{
	padding:2px;
	font:30px 'Gamer';
	font-weight:bold;
	border:1px solid black;
	background:rgba(0,0,0,.7);
	
}
section{
    background:rgba(0,0,0,.7);
	display:flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items:flex-start;
	width:90%;
	height:100%;
	margin:50px auto;
	font-size:25px;
	margin:10px;
	border:2px solid black;
	color:white;


}
.img{
	width:40%;
	height:30vh;
	margin:20px;
	border-radius:50%;
}
h2{
	margin-left:20px;
	font-size: 40px;
}
#ContenedorImgNombre{
	display:flex;
	justify-content:flex-start;
	align-items:center;
}
p{
	margin:20px;
}
aside{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border:2px solid;
	width:30%;
	margin:10px;
	background:rgba(240, 242, 245);
}
#contenedorP{
	display:flex;
	align-items:center;
	margin:50px;
	margin-bottom:0px;
	font-weight:bold;
}
.imgg{
	margin:0;
	background-size:cover;
	width:100%;
	height:50%;
}

h1{
	border:1px solid black;
	background:rgba(0, 0, 0, .7);
}